.header {
    display: flex;
    background-color: #5A6F08;
    padding: 15px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logoTitle {
    font-size: 32px;
    color: white;
    margin: 0;
}

.title {
    font-size: 60px;
    color: white;
    margin: auto;
}

.fa-solid {
    font-size: 30px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linksContainer {
    color: white;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.icon {
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .logoContainer {
      margin-bottom: 10px;
    }
  
    .title {
      margin-bottom: 10px; 
    }
  
    .linksContainer {
      flex-direction: row; 
      margin: 0; 
      text-align: center; 
    }
  
    .link {
      margin: 10px;
    }
}  